# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Multiplayer playground.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Fer\Downloads\Multiplayer playground\.idea\.idea.Multiplayer playground\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
